body {
    padding-top: 50px;
}

#properties {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 10vh;
    row-gap: 10vh;
}

.propCard {
    background-color: white;
    border-color: #000000;
    border-radius: 10px;
    padding-bottom: 20px;
}